body {
  background: #81F4E1; }

#title {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #title div {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  #title img {
    align-self: center;
    height: 150px; }
  #title h1 {
    font-family: 'Lato',sans-serif;
    font-size: 3em;
    color: #FF729F;
    margin: 0 auto; }

#content {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #content input {
    background: none;
    font-size: 2em;
    border: none;
    border-bottom: solid 3px white;
    outline: none;
    font-family: 'Lato', sans-serif;
    color: white; }
  #content input:focus {
    border-bottom: solid 3px #FF729F; }
  #content button {
    background: none;
    border: none;
    font-size: 2em;
    color: #FF729F;
    outline: none; }
  #content button:hover {
    color: white; }
  #content p {
    font-size: 1.5em;
    color: #FF729F;
    font-family: 'Lato', sans-serif; }
